# Fixed values or ranges for parameters
definitions = {
  "d": [0.8E-9, 2.2E-9],
  "theta": 0.0,
  "phi": 0.0,
  "alpha": 0.0,
  "R": [1.5E-6, 2.5E-6],
  "Rs": [1.5E-6, 2.5E-6],
  "k": [1.7, 2.7],
  "b": [0.8E-6, 1.4E-6],
}

# Parameters to filter out while learning
strip = ["theta", "phi", "alpha"]

# Declared models to generate and test on
models = [
  # ['ball'],
  # ['zeppelin'],
  # ['tensor'],

  # ['ball', 'stick'],
  # ['ball', 'cylindergpd'],
  # ['ball', 'gammadistribradiicylinders'],

  # ['ball', 'stick', 'astrosticks'],
  # ['ball', 'stick', 'astrocylinders'],
  # ['ball', 'stick', 'spheregpd'],
  # ['ball', 'stick', 'dot'],

  ['tensor', 'gammadistribradiicylinders', 'spheregpd'],
]

# Meta parameters for model generation
dataset_size = 125
signal_noise_ratio = 0
